body {
    margin: 0;
}
.team {
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 36px;
    /* identical to box height, or 90% */
    
    text-align: center;
    
    color: #EEEEEE;
    
}

#home {
    position: absolute;
    width: 149px;
    height: 36px;
    left: 85px;
}

#guest {
    /* text-decoration: underline; */
}
.container {
    display: flex;
    justify-content:space-around;
    
    width: 575px;
    height: 385px;
    background-color: #1B244A;
}

.scoreTable {
    position: absolute;
    width: 155px;
    height: 120px;
    left: 82px;
    top: 80px;

    background: #080001;
    border-radius: 5px;
}

.font {
    font-family: "Cursed Timer ULiL";
    font-style: normal;
    font-weight: 400;
    font-size: 90px;
    line-height: 127px;
    /* or 141% */

    text-align: center;

    color: #F94F6D;
}

@font-face {
    font-family: Cursed Timer ULiL;
    src: url(/CursedTimerUlil-Aznm.ttf);
}

button {
    position: absolute;
    top: 220px;
    width: 45px;
    height: 45px;
    background: none;
    outline-color: white;
    outline: auto;
    color: aliceblue;

    font-family: "Cursed Timer ULiL";
    font-style: normal;
}

#plus-one-home{
    left: 85px;
}
#plus-two-home{
    left: 136px;
}
#plus-tree-home {
    left: 186px;
}

#plus-one-guest{
left: 316px;
}
#plus-two-guest{
    margin-left: 46px;
}
#plus-tree-guest {
    margin-left: 98px;
}

